<p></p>
<div class="user-item" *ngFor="let user of users | async">
  <h3>{{user.firstName}} {{user.lastName}}</h3>

  <a routerLink="/cart" class="button userlist-button"
    >View List<i class="material-icons">redeem</i></a
  >
  <!-- <h3>
    <a [title]="product.name + ' details'" [routerLink]="['/list', username]">
      {{user.username}}
    </a>
  </h3> -->

  <!-- <p *ngIf="item.linkOrNotes">
    {{item.linkOrNotes}}
  </p> -->

  <!-- <button (click)="share()">
    Share
  </button>

  <app-product-alerts [product]="product" (notify)="onNotify()">
  </app-product-alerts> -->
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
